@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html body {
  margin: 0;
  padding: 0; }
  html body header {
    margin: 0;
    padding: 0; }
html ul {
  padding: 0;
  list-style-type: none; }
html a {
  color: black;
  text-decoration: none; }
html ul {
  list-style-type: none; }
html img {
  max-width: 100%;
  height: auto; }
html h1, html h2, html h3, html h4 {
  margin: 0; }

html {
  font-family: 'Roboto', sans-serif;
  color: #303030; }
  html .flex_container {
    display: flex; }
  html .grid_container {
    display: grid; }
  html nav.menu {
    position: relative;
    top: 20px;
    left: 5px; }
  html main {
    height: auto; }
    html main h1 {
      color: #707070;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  html div::-webkit-scrollbar {
    display: none; }

body main#addDoc > form {
  margin-top: 45vh;
  transform: translateY(-50%);
  width: 60%;
  margin-right: auto;
  margin-left: auto; }
body main#addDoc .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  max-width: 400px;
  margin: auto; }
  body main#addDoc .container > input {
    border: none;
    border-bottom: 1px solid grey; }
    body main#addDoc .container > input:first-child {
      grid-column: 1/7;
      grid-row: 1; }
    body main#addDoc .container > input:nth-child(2) {
      grid-column: 1/7;
      grid-row: 2;
      width: 100%; }
    body main#addDoc .container > input:nth-child(3) {
      grid-column: 1/7;
      grid-row: 3; }
    body main#addDoc .container > input:nth-child(4) {
      grid-column: 1/7;
      grid-row: 4; }
    body main#addDoc .container > input:nth-child(5) {
      grid-column: 1/7;
      grid-row: 5; }
  body main#addDoc .container > .picture {
    grid-column: 1/7;
    grid-row: 6;
    min-width: 170px;
    text-align: center;
    margin: 15px; }
    body main#addDoc .container > .picture > input {
      display: none; }
    body main#addDoc .container > .picture > label {
      color: grey;
      background-color: #EEE;
      border: 1px solid grey;
      padding: 10px 20px;
      border-radius: 5%; }
  body main#addDoc .container > textarea {
    grid-column: 1/7;
    grid-row: 7;
    height: 100px;
    border: 1px solid grey; }
  body main#addDoc .container > button {
    grid-column: 2/6;
    grid-row: 8;
    padding: 10px 20px;
    background-color: #EEE;
    color: grey;
    border: 1px solid grey;
    border-radius: 5%; }

body main#borrow form {
  margin-top: 35vh;
  transform: translateY(-50%); }
  body main#borrow form input {
    border: none;
    border-bottom: solid 2px #34B3AA;
    background-color: #F7F7F7;
    margin: 8% auto 8% auto;
    height: 3em;
    display: block;
    width: 30%; }
    body main#borrow form input:first-of-type {
      margin-bottom: 3vh; }
    body main#borrow form input.add {
      background-color: unset;
      border: none;
      position: relative;
      margin: 0 auto 3vh auto; }
  body main#borrow form button {
    text-align: center;
    width: 15%;
    padding: 8px 0;
    display: block;
    margin: auto;
    color: #34B3AA;
    background-color: #F5F5F5;
    border: 2px solid #34B3AA;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    max-width: 300px; }

body main#recap_borrow {
  height: auto; }
  body main#recap_borrow h1 {
    margin-bottom: 5vh; }
  body main#recap_borrow div {
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    min-width: 40%;
    height: 25vh;
    background-color: #E8E8E8;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 15px; }
    body main#recap_borrow div ul.flex_container {
      margin-top: 2vh;
      align-content: space-between;
      text-align: left; }
      body main#recap_borrow div ul.flex_container li {
        width: 35%; }
  body main#recap_borrow nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5vh; }
    body main#recap_borrow nav a {
      text-align: center;
      width: 15%;
      padding: 8px 0;
      display: block;
      margin: auto;
      color: #34B3AA;
      background-color: #F5F5F5;
      border: 2px solid #34B3AA;
      border-radius: 5px;
      font-family: "Roboto", sans-serif;
      font-size: 1.2em;
      max-width: 300px; }

body main {
  height: 0; }
  body main nav.home {
    padding: 5%;
    margin-top: 50vh;
    transform: translateY(-50%); }
    body main nav.home .grid_container {
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 5%; }
      body main nav.home .grid_container a {
        width: 100%;
        grid-column-start: 4 span;
        text-align: center;
        max-height: 40vh; }
        body main nav.home .grid_container a div.item__nav {
          background-color: #bdbdbd;
          border-radius: 15px;
          margin-bottom: 5vw; }
          body main nav.home .grid_container a div.item__nav h2 {
            padding-bottom: 1em; }
          body main nav.home .grid_container a div.item__nav img {
            width: 35%;
            height: auto;
            padding: 5%; }
    body main nav.home #searchDoc {
      grid-column: 1 / span 4; }
    body main nav.home a.adddoc {
      text-align: center;
      width: 100%;
      display: block;
      font-weight: bold;
      font-size: 1.5em;
      border: 1px solid grey;
      grid-column: 9 / span 4;
      border-radius: 8px; }
      body main nav.home a.adddoc img {
        width: 9%;
        height: auto;
        position: relative;
        top: .5vw; }

body main#return form {
  margin-top: 35vh;
  transform: translateY(-50%); }
  body main#return form input {
    border: none;
    border-bottom: solid 2px #34B3AA;
    background-color: #F7F7F7;
    margin: 8% auto 8% auto;
    height: 3em;
    display: block;
    width: 30%; }
    body main#return form input:first-of-type {
      margin-bottom: 3vh; }
    body main#return form input.add {
      background-color: unset;
      border: none;
      position: relative;
      margin: 0 auto 3vh auto; }
  body main#return form button {
    text-align: center;
    width: 15%;
    padding: 8px 0;
    display: block;
    margin: auto;
    color: #34B3AA;
    background-color: #F5F5F5;
    border: 2px solid #34B3AA;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    max-width: 300px; }

body #recap_return h1 {
  text-align: center; }
body #recap_return h2 {
  margin-top: 5%;
  text-align: center; }
body #recap_return .grid_container {
  grid-template-columns: repeat(12, 1fr);
  margin-top: 5vh;
  margin-bottom: 5vh; }
  body #recap_return .grid_container div {
    padding: 15px;
    background-color: #E8E8E8;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll; }
    body #recap_return .grid_container div:nth-child(1) {
      grid-column: 2 / 6;
      text-align: center; }
    body #recap_return .grid_container div ul {
      border-bottom: 2px solid #707070; }
    body #recap_return .grid_container div:nth-child(2) {
      grid-column: 7 / 12;
      text-align: center; }
body #recap_return nav {
  text-align: center; }
  body #recap_return nav a {
    text-align: center;
    width: 15%;
    padding: 8px 0;
    display: block;
    margin: auto;
    color: #34B3AA;
    background-color: #F5F5F5;
    border: 2px solid #34B3AA;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    max-width: 300px; }

body main#profil_user .grid_container {
  grid-template-columns: repeat(12, 1fr); }
  body main#profil_user .grid_container ul li {
    margin: 1.5vh 0;
    font-size: 1.2em; }
  body main#profil_user .grid_container .info {
    grid-column: 12 span;
    text-align: center; }
    body main#profil_user .grid_container .info .img_round {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      grid-column: 12 span;
      margin-left: auto;
      margin-right: auto; }
      body main#profil_user .grid_container .info .img_round img {
        width: 100%;
        height: auto; }
  body main#profil_user .grid_container .where {
    grid-column: 12 span;
    text-align: center; }
body .flex_container {
  margin-top: 0;
  justify-content: center;
  align-content: space-between; }
  body .flex_container .returned {
    margin: auto;
    overflow: hidden scroll;
    min-width: 15rem;
    width: auto;
    height: 15vh;
    padding: 10px 20px;
    border: 2px solid #707070;
    border-radius: 15px; }
    body .flex_container .returned ul li {
      text-align: center;
      font-size: 1.1em;
      color: #707070; }
      body .flex_container .returned ul li:nth-child(2n) {
        text-align: left;
        border-bottom: 3px solid #E8E8E8;
        color: black;
        padding-bottom: 2vh; }

body {
  overflow-x: hidden; }
  body main#users {
    height: auto; }
    body main#users p:first-child {
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
    body main#users .container.users {
      width: auto;
      max-height: 45vh;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30vh;
      transform: translateY(-50%); }
      body main#users .container.users .flex_container {
        width: 60%;
        margin: 2vh auto 0 auto;
        padding: 10px;
        align-content: space-evenly;
        background-color: #E8E8E8;
        border-radius: 15px; }
        body main#users .container.users .flex_container img {
          width: auto;
          max-height: 5vw;
          margin-right: 5%; }
        body main#users .container.users .flex_container p {
          font-size: 1.2em; }
          body main#users .container.users .flex_container p:first-of-type {
            margin-right: 5%; }
          body main#users .container.users .flex_container p:last-of-type {
            margin-right: 5%; }
        body main#users .container.users .flex_container form {
          margin-left: 0; }
          body main#users .container.users .flex_container form button {
            background-color: unset;
            border: none;
            cursor: pointer; }
            body main#users .container.users .flex_container form button:first-of-type {
              margin-right: 5px; }
            body main#users .container.users .flex_container form button img {
              width: 50px;
              height: 50px; }
    body main#users .flex_container {
      align-content: space-evenly;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      body main#users .flex_container nav {
        width: 100%; }
        body main#users .flex_container nav a {
          text-align: center;
          width: 65%;
          padding: 8px 0;
          display: block;
          margin: auto;
          color: #34B3AA;
          background-color: #F5F5F5;
          border: 2px solid #34B3AA;
          border-radius: 5px;
          font-family: "Roboto", sans-serif;
          font-size: 1.2em;
          max-width: 300px; }
      body main#users .flex_container .item {
        width: 100%;
        text-align: center;
        margin-top: -5vh; }
        body main#users .flex_container .item form input {
          border: none;
          border-bottom: solid 2px #34B3AA;
          background-color: #F7F7F7;
          margin-top: 5%;
          height: 3em;
          display: block;
          width: 65%; }
        body main#users .flex_container .item form button {
          text-align: center;
          width: 15%;
          padding: 8px 0;
          display: block;
          margin-top: 5%;
          margin-left: 3%;
          color: #34B3AA;
          background-color: #F5F5F5;
          border: 2px solid #34B3AA;
          border-radius: 5px;
          font-family: "Roboto", sans-serif;
          font-size: 1.2em;
          max-width: 300px; }

body main > .conntect {
  margin-top: 45vh;
  transform: translateY(-50%);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 5%;
  background-color: #EEE;
  max-width: 650px; }
  body main > .conntect .item_doc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    max-width: 400px;
    margin: auto; }
    body main > .conntect .item_doc input {
      border: none;
      border-bottom: 1px solid grey;
      width: 100%;
      height: 1.5em; }
    body main > .conntect .item_doc > textarea {
      height: 100px;
      border: 1px solid grey; }
    body main > .conntect .item_doc #image {
      grid-column: 1/7;
      grid-row: 1;
      display: flex;
      align-items: center; }
      body main > .conntect .item_doc #image > input {
        display: none; }
      body main > .conntect .item_doc #image > label {
        color: grey;
        background-color: #EEE;
        border: 1px solid grey;
        padding: 10px 20px;
        border-radius: 5%;
        margin-left: 20px;
        height: 1em; }
    body main > .conntect .item_doc #title {
      grid-column: 1/7;
      grid-row: 2; }
    body main > .conntect .item_doc #reference {
      grid-column: 1/7;
      grid-row: 3; }
    body main > .conntect .item_doc #type {
      grid-column: 1/4;
      grid-row: 4; }
    body main > .conntect .item_doc #genre {
      grid-column: 4/7;
      grid-row: 4; }
    body main > .conntect .item_doc #description {
      grid-column: 1/7;
      grid-row: 5; }
    body main > .conntect .item_doc #complement {
      grid-column: 1/7;
      grid-row: 6;
      display: flex;
      justify-content: space-between; }
      body main > .conntect .item_doc #complement > #keywords {
        width: 70%; }
      body main > .conntect .item_doc #complement > #disponibility {
        width: 25%; }
    body main > .conntect .item_doc > input:last-child {
      grid-column: 2/6;
      grid-row: 7;
      padding: 10px 20px;
      background-color: #EEE;
      color: grey;
      border: 1px solid grey;
      border-radius: 5%;
      height: 2.5em; }
  body main > .conntect .buttons {
    text-align: center; }
    body main > .conntect .buttons > a > input {
      padding: 10px 20px;
      background-color: #EEE;
      color: grey;
      border: 1px solid grey;
      border-radius: 2%;
      width: 45%;
      margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
