@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html body {
  margin: 0;
  padding: 0; }
  html body header {
    margin: 0;
    padding: 0; }
html ul {
  padding: 0;
  list-style-type: none; }
html a {
  color: black;
  text-decoration: none; }
html ul {
  list-style-type: none; }
html img {
  max-width: 100%;
  height: auto; }
html h1, html h2, html h3, html h4 {
  margin: 0; }

html {
  font-family: 'Roboto', sans-serif;
  color: #303030; }
  html .flex_container {
    display: flex; }
  html .grid_container {
    display: grid; }
  html nav.menu {
    position: relative;
    top: 20px;
    left: 5px; }
  html main {
    height: auto; }
    html main h1 {
      color: #707070;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  html div::-webkit-scrollbar {
    display: none; }

body main#borrow form {
  margin-top: 35vh;
  transform: translateY(-50%); }
  body main#borrow form input {
    border: none;
    border-bottom: solid 2px #34B3AA;
    background-color: #F7F7F7;
    margin: 8% auto 8% auto;
    height: 3em;
    display: block;
    width: 30%; }
    body main#borrow form input:first-of-type {
      margin-bottom: 3vh; }
    body main#borrow form input.add {
      background-color: unset;
      border: none;
      position: relative;
      margin: 0 auto 3vh auto; }
  body main#borrow form button {
    text-align: center;
    width: 15%;
    padding: 8px 0;
    display: block;
    margin: auto;
    color: #34B3AA;
    background-color: #F5F5F5;
    border: 2px solid #34B3AA;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    max-width: 300px; }

body main#recap_borrow {
  height: auto; }
  body main#recap_borrow h1 {
    margin-bottom: 5vh; }
  body main#recap_borrow div {
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    min-width: 40%;
    height: 25vh;
    background-color: #E8E8E8;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 15px; }
    body main#recap_borrow div ul.flex_container {
      margin-top: 2vh;
      align-content: space-between;
      text-align: left; }
      body main#recap_borrow div ul.flex_container li {
        width: 35%; }
  body main#recap_borrow nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5vh; }
    body main#recap_borrow nav a {
      text-align: center;
      width: 15%;
      padding: 8px 0;
      display: block;
      margin: auto;
      color: #34B3AA;
      background-color: #F5F5F5;
      border: 2px solid #34B3AA;
      border-radius: 5px;
      font-family: "Roboto", sans-serif;
      font-size: 1.2em;
      max-width: 300px; }

body main {
  height: 0; }
  body main nav.home {
    padding: 5%;
    margin-top: 50vh;
    transform: translateY(-50%); }
    body main nav.home .grid_container {
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 5%; }
      body main nav.home .grid_container a {
        width: 100%;
        grid-column-start: 4 span;
        text-align: center;
        max-height: 40vh; }
        body main nav.home .grid_container a div.item__nav {
          background-color: gray;
          border-radius: 15px;
          margin-bottom: 5vw; }
          body main nav.home .grid_container a div.item__nav h2 {
            margin-top: 5vh;
            margin-bottom: 5vh; }
          body main nav.home .grid_container a div.item__nav img {
            width: 35%;
            height: auto;
            padding: 5%; }
    body main nav.home a.adddoc {
      margin-top: 10vh;
      text-align: center;
      width: 100%;
      display: block;
      font-weight: bold;
      font-size: 1.5em; }
      body main nav.home a.adddoc img {
        width: 3%;
        height: auto;
        position: relative;
        top: .5vw; }

body #return h2 {
  text-align: center; }
body #return form {
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 20%; }
  body #return form input {
    width: 25%;
    padding: 0; }
  body #return form button {
    display: block;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    width: 25%;
    padding: 0; }

body #recap_return h1 {
  text-align: center; }
body #recap_return h2 {
  margin-top: 5%;
  text-align: center; }
body #recap_return .grid_container {
  grid-template-columns: repeat(12, 1fr); }
  body #recap_return .grid_container div:nth-child(1) {
    grid-column: 2 / 6;
    text-align: center; }
  body #recap_return .grid_container div:nth-child(2) {
    grid-column: 7 / 12;
    text-align: center; }
body #recap_return nav {
  text-align: center; }

body main#profil_user .grid_container {
  grid-template-columns: repeat(12, 1fr); }
  body main#profil_user .grid_container ul li {
    margin: 1.5vh 0;
    font-size: 1.2em; }
  body main#profil_user .grid_container .info {
    grid-column: 12 span;
    text-align: center; }
    body main#profil_user .grid_container .info .img_round {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      grid-column: 12 span;
      margin-left: auto;
      margin-right: auto; }
      body main#profil_user .grid_container .info .img_round img {
        width: 100%;
        height: auto; }
  body main#profil_user .grid_container .where {
    grid-column: 12 span;
    text-align: center; }
body .flex_container {
  margin-top: 5vh;
  justify-content: center;
  align-content: space-between; }
  body .flex_container .returned {
    margin: auto;
    overflow: hidden scroll;
    width: auto;
    height: 15vh;
    padding: 10px 20px;
    border: 2px solid #707070;
    border-radius: 15px; }
    body .flex_container .returned ul li {
      text-align: center;
      font-size: 1.1em;
      color: #707070; }
      body .flex_container .returned ul li:nth-child(2n) {
        text-align: left;
        border-bottom: 3px solid #E8E8E8;
        color: black;
        padding-bottom: 2vh; }

body {
  overflow-x: hidden; }
  body main#users {
    height: auto; }
    body main#users p:first-child {
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
    body main#users .container.users {
      width: auto;
      max-height: 45vh;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30vh;
      transform: translateY(-50%); }
      body main#users .container.users .flex_container {
        width: 60%;
        margin: 2vh auto 0 auto;
        padding: 10px;
        align-content: space-evenly;
        background-color: #E8E8E8;
        border-radius: 15px; }
        body main#users .container.users .flex_container img {
          width: auto;
          max-height: 5vw;
          margin-right: 5%; }
        body main#users .container.users .flex_container p {
          font-size: 1.2em; }
          body main#users .container.users .flex_container p:first-of-type {
            margin-right: 5%; }
          body main#users .container.users .flex_container p:last-of-type {
            margin-right: 5%; }
        body main#users .container.users .flex_container form {
          margin-left: 0; }
          body main#users .container.users .flex_container form button {
            background-color: unset;
            border: none;
            cursor: pointer; }
            body main#users .container.users .flex_container form button:first-of-type {
              margin-right: 5px; }
            body main#users .container.users .flex_container form button img {
              width: 50px;
              height: 50px; }
    body main#users .flex_container {
      align-content: space-evenly;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      body main#users .flex_container nav {
        width: 100%; }
        body main#users .flex_container nav a {
          text-align: center;
          width: 65%;
          padding: 8px 0;
          display: block;
          margin: auto;
          color: #34B3AA;
          background-color: #F5F5F5;
          border: 2px solid #34B3AA;
          border-radius: 5px;
          font-family: "Roboto", sans-serif;
          font-size: 1.2em;
          max-width: 300px; }
      body main#users .flex_container .item {
        width: 100%;
        text-align: center;
        margin-top: -5vh; }
        body main#users .flex_container .item form input {
          border: none;
          border-bottom: solid 2px #34B3AA;
          background-color: #F7F7F7;
          margin: 8% auto 8% auto;
          height: 3em;
          display: block;
          width: 65%; }
        body main#users .flex_container .item form button {
          text-align: center;
          width: 15%;
          padding: 8px 0;
          display: block;
          margin: auto;
          color: #34B3AA;
          background-color: #F5F5F5;
          border: 2px solid #34B3AA;
          border-radius: 5px;
          font-family: "Roboto", sans-serif;
          font-size: 1.2em;
          max-width: 300px; }

/*# sourceMappingURL=main.css.map */
