body {

  header {

  }

  main#return {
    form {

      margin-top: 35vh;
      transform: translateY(-50%);


      input {
        border: none;
        border-bottom: solid 2px $primarycolor;
        background-color: #F7F7F7;
        margin: 8% auto 8% auto;
        height: 3em;
        display: block;
        width: 30%;
        &:first-of-type{
          margin-bottom: 3vh;

        }

        &.add {
          background-color: unset;
          border: none;
          position: relative;
          margin: 0 auto 3vh auto;
        }

      }

      button {
        text-align: center;
        width: 15%;
        padding: 8px 0;
        display: block;
        margin: auto;
        color: $primarycolor;
        background-color: $bc;
        border: 2px solid $primarycolor;
        border-radius: 5px;
        font-family: $font;
        font-size: 1.2em;
        max-width: 300px;
      }
    }
  }

}